/* Style for sidebar */
.sidebar {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Style for content */
.content {
  margin-left: 250px; /* Same as sidebar width */
  padding: 20px;
}

.container {
  position: relative;
}

#sidebarShow,
#sidebarHide {
  position: absolute;
  top: 0;
  right: 0;
}

/* Style for sidebar heading */
.sidebar h2 {
  margin-bottom: 10px;
}

/* Style for sidebar links */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #007bff; /* Change link color on hover */
}

@font-face {
  font-family: "Geist_mono";
  src: url("../assets/font/Geist_mono.ttf") format("truetype");
}

@font-face {
  font-family: "Geist_variable";
  src: url("../assets/font/Geist_variable.ttf") format("truetype");
}

body {
  font-family: "Geist_mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Geist_variable", sans-serif;
}
